@import url('./reset.css');
@import 'modern-normalize/modern-normalize.css';

body {
    font-family: "Montserrat", sans-serif;
}

.image-search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
    margin-top: 36px;
    margin-bottom: 32px;
}

.image-search-input {
    margin-right: 8px;
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    background: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
    padding: 8px 16px;
}

.image-search-input:hover {
    border: #000;
}

.image-search-input:focus {
    border: #4e75ff;
    color: #2e2f42;
}

.image-search-button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 91px;
    height: 40px;
    background: #4e75ff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
}

.image-search-button:hover {
    background: #6c8cff;
}

.image-gallery {
    width: 1128px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0 auto;
}

.images-list-item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 48px) / 3);
    border: 1px solid #808080;
}

.img-dscr {
    display: flex;
    padding: 4px 20px;
    justify-content: space-between;
    align-items: center;
}

.img-data {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img {
    width: 100%;
    height: 152px;
    object-fit: cover;
}

.img-data-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33333;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.img-data-numbers {
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

/* Оновлений лоадер для використання з image gallery */
.loader,
.new-loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid #FF3D00;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: 50%;
    left: 50%;
    display: none; /* Приховувати лоадер за замовчуванням */
}

.loader::after,
.new-loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 4px;
    top: 4px;
    border: 2px solid #FFF;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.load-more-button {
    justify-content: center;
    border-radius: 8px;
    padding: 8px;
    width: 125px;
    height: 40px;
    background: #4e75ff;
    border: none;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: none; /* Приховувати кнопку за замовчуванням */
}

.load-more-button:hover {
    background: #6c8cff;
}
